# ignora ambiente virtual
.venv

#ignora 
.env

# ignora o cache
*.pyc
__pycache__/

# ignora o arquivo de migração(Apagar quando projeto estiver pronto)

*_initial.py

# ignora os migrations(tirar no final)
migrations
