{% extends 'base.html' %}
{% block content %}

<main>
    <section id="hero" style="background-color: #e2e2e2; color: #161617; padding: 50px 20px; border-radius: 20px; text-align: center;">
        <h1>Gerencie seu Estoque com Facilidade</h1>
        <br>
        <p>Descubra a solução perfeita para monitorar, organizar e otimizar seus inventários de forma eficiente e prática.</p>
        <br>
        <button>
            Saiba Mais
        </button>
    </section>

    <section id="content" style="padding: 50px 20px;">
        <h2 style="text-align: center; color: #333;">Por que Escolher Nosso Sistema?</h2>
        <br>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around; margin-top: 30px; gap: 20px;">
            <!-- Funcionalidade 1 -->
            <div style="max-width: 400px; text-align: center; border: none; background-color: #ffffff; border-radius: 10px; padding: 20px;">
                <img src="https://dcvnv1ldeiz2n.cloudfront.net/PIP/Custom_Page/PPE_Workwear/Stock_control_Icon.png" alt="Controle de Estoque" style="width: 100px; margin-bottom: 10px;">
                <h3 style="color: #161617;">Controle de Estoque</h3>
                <p>Monitore suas entradas, saídas e transferências em tempo real, garantindo total controle do seu inventário.</p>
            </div>
    
            <!-- Funcionalidade 2 -->
            <div style="max-width: 400px; text-align: center; border: none; background-color: #ffffff; border-radius: 10px; padding: 20px;">
                <img src="https://static.vecteezy.com/system/resources/previews/004/999/434/original/graph-chart-icon-symbol-of-business-free-vector.jpg" alt="Relatórios Personalizáveis" style="width: 100px; margin-bottom: 10px;">
                <h3 style="color: #161617;">Relatórios Personalizáveis</h3>
                <p>Gere relatórios detalhados e gráficos para tomar decisões baseadas em dados precisos.</p>
            </div>
    
            <!-- Funcionalidade 3 -->
            <div style="max-width: 400px; text-align: center; border: none; background-color: #ffffff; border-radius: 10px; padding: 20px;">
                <img src="https://static.vecteezy.com/system/resources/previews/006/086/198/original/notification-icon-for-web-vector.jpg" alt="Notificações Inteligentes" style="width: 100px; margin-bottom: 10px;">
                <h3 style="color: #161617;">Notificações Inteligentes</h3>
                <p>Receba alertas sobre estoque baixo, vencimentos próximos ou movimentações incomuns.</p>
            </div>
        </div>
    </section>
    
</main>

{% endblock content %}