.register-container {
    background: #ffffff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 150px;
    text-align: center;
    width: 70%;
}

.register-container h1 {
    margin-bottom: 20px;
}

.register-container .register-fields {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    font-size: 20px;
}

.register-container button {
    background-color: #06c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    margin-top: 10px;
}

.register-container button:hover {
    background-color: #0071e3;
}

input {
    height: 35px;
}