<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventário de Estoque</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/dashboard.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
    <header>
      <div class="logo">
        <h2>Logo</h2>
      </div>
      <nav>
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">storages</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </nav>
    </header>
{% block content %}

{% endblock content %}
    <footer>
      <h3>&copy; All Right Reserved</h3>
    </footer>
</body>
</html>